@font-face {
  font-family: 'SpanLight';
  src: url('./assets/Span/Fontspring-DEMO-span-light.otf') format('truetype');
  /* Adjust the path as needed */
}

* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

.canvas-container {
  position: relative;
}

.text-front {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 10vw;
  height: 10vh;
  font-size: 4vw;
  cursor: pointer;
  /* background-color: #000000; */
  color: #ffffff;
  user-select: none;
}

.text-behind {
  position: absolute;
  /* overlay text */
  z-index: -1;
  /* Places the text behind the canvas */
  display: flex;
  /* Set display to flex */
  justify-content: center;
  align-items: flex-start;
  font-size: 8vw;
  /* Example font size */
  font-family: SpanLight;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  user-select: none;
  line-height: 100%;
}

/* Ensure full height for body and html to cover the viewport height */
html,
body {
  height: 100%;
}